{% extends 'base.html.twig' %}

{% block title %}
  Liste des habitations de la categorie {{ category.name }}
{% endblock %}

{% block body %}
  <main class="container">
    <section class="row">
      <div class="col-12">
        <h1>Liste des habitations de la categorie {{ category.name }}</h1>
      </div>
      {% for dwelling in category.dwellings %}
        <div class="card" style="width: 18rem;">
          <img src="{{ asset('assets/uploads/images/') ~ dwelling.picture }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="card-title">{{ dwelling.name }}</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Voir plus</a>
            <div class="card-footer">
              <span class="badge bg-warning">{{ dwelling.city }}</span>
              <span class="badge bg-success">{{ dwelling.price }}</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </section>
  </main>
{% endblock %}
