{% extends 'base.html.twig' %}

{% block title %}
  {{ dwelling.name }} - {{ dwelling.city }}
{% endblock %}

{% block body %}
  <main class="container">
    <section class="row">
      <div class="col-12">
        <h1>{{ dwelling.name }} - {{ dwelling.city }}</h1>
      </div>
      <div class="col-6">
        {% if dwelling.category.name == 'Location' %}
          {{ dwelling.price }} € /mois
        {% else %}
          {{ dwelling.price }} €
        {% endif %}
      </div>
      <div class="col-6"></div>
    </section>
  </main>
{% endblock %}
