{% extends 'base.html.twig' %}

{% block title %}
  {{ dwelling.name }} - {{ dwelling.city }}
{% endblock %}

{% block body %}
  <main class="container">
    <section class="row">
      <div class="col-12">
        <h1>{{ dwelling.name }} - {{ dwelling.city }}</h1>
      </div>
      <div class="col-6">
        {% if dwelling.category.name == 'Location' %}
          <p>Prix : {{ dwelling.price }} € /mois</p>
        {% else %}
          <p>Prix : {{ dwelling.price }} €</p>
          <p>Taille : {{ dwelling.size }} m² €</p>
          <p>{{ dwelling.description }}</p>
        {% endif %}
      </div>

      <div class="col-6">
        <img src="{{ asset('assets/uploads/images/') ~ dwelling.picture }}" alt="" />
      </div>
    </section>

    <section class="col-12">
      <h2>Commentaires</h2>
      <div>
        <div>
          {% for comment in dwelling.comments %}
            <div style="background : grey; margin : 2px;">
              <p>Publié le {{ comment.createdAt|date('d/m/Y H:i', 'Europe/Paris') }}</p>
              <p>{{ comment.content }}</p>
            </div>
          {% endfor %}
        </div>
      </div>

      <div id="ajout-comment">
        <h3>Ajouter un commentaire</h3>
        {{ form(commentForm) }}
      </div>
    </section>
  </main>
{% endblock %}
