{% extends 'base.html.twig' %}

{% block title %}
  {{ dwelling.name }} - {{ dwelling.city }}
{% endblock %}

{% block body %}
  <main class="container">
    <section class="row">
      <div class="col-12">
        <h1>{{ dwelling.name }} - {{ dwelling.city }}</h1>
      </div>
      <div class="col-6">
        {% if dwelling.category.name == 'Location' %}
          <p>Prix : {{ dwelling.price }} € /mois</p>
        {% else %}
          <p>Prix : {{ dwelling.price }} €</p>
        {% endif %}
      </div>
      <div class="col-6">
        <img src="{{ asset('assets/uploads/images/') ~ dwelling.picture }}" alt="" />
      </div>
    </section>
  </main>
{% endblock %}
